{% extends "userInfoBase.html.twig" %}

{% block firstName %}
    <input type="text" class="input" name="firstName" value="{{ userInfo.getFirstName() }}"/>
{% endblock %}

{% block secondName %}
    <input type="text" class="input" name="secondName" value="{{ userInfo.getSecondName() }}"/>
{% endblock %}

{% block sex %}
    <input type="text" class="input" name="sex" value="{{ userInfo.getSex() }}"/>
{% endblock %}
{% block workspace %}
    <input type="text" class="input" name="workspace" value="{{ userInfo.getWorkspace() }}"/>
{% endblock %}

{% block about %}
    <input type="text" class="input" name="about" value="{{ userInfo.getAbout() }}"/>
{% endblock %}

{% block other %}
    <input class="button is-success" type="submit" formmethod="post" value="Сохранить"><br>
    <a href="/userInfo">Профиль</a>
{% endblock %}

