{% extends "userInfoBase.html.twig" %}


{% block firstName %}
    {{ userInfo.getFirstName() }}
{% endblock %}

{% block secondName %}
    {{ userInfo.getSecondName() }}
{% endblock %}

{% block sex %}
    {{ userInfo.getSex() }}
{% endblock %}

{% block workspace %}
    {{ userInfo.getWorkspace() }}
{% endblock %}

{% block about %}
    {{ userInfo.getAbout() }}
{% endblock %}

{% block other %}
    <a href="/userInfo/update">Редактировать</a><br>
    <a href="/">На главную</a>
{% endblock %}
